body {
    font-family: Arial, sans-serif;
    background-color: #115580;
    margin: 0;
    padding: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: tomato;
}

code {
    font-family: Consolas, 'Courier New', Courier, monospace;
}

.categories-title { /*分類標題*/
    margin-top: 30px;
}

.text p { /*開場白*/
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

h1, h2, h3, h4 { /*文本*/
    font-weight: 400;
    color: #000000;
}

.title { /*文本標題*/
    color: #000000;
    text-align: left;
}
.statement { /*主版面*/
    margin-top: 50px;
    display: flex;
    background: #ffffff;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.text { /*blog文本*/
    flex: 1;
    margin-right: 80px;
    margin-left: 300px;
}

.proboard { /*目錄*/
    flex: 0 0 250px;
    background: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    border-radius: 8px;
    margin-top: 20px;
}

.dashboard {
    flex: 0.3;
    background: #ffffff;
    padding: 20px;
}

th {
    padding-top: 5px;
    padding-right: 40px;
}

tr {
    margin-top: 80px;
}

.article {
    box-shadow: 3px 3px 3px 3px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 5px;
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.date {
    background: tomato;
    color: black;
    width: 10.5%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.tags {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 1000;
}

.tag {
    color: tomato;
    margin-right: 35px;
    font-size: 16px;
}



.de img {
    width: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
}

img {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 70%;
}

.footer {
    background: #115580;
    height: 50px;
    margin-left: -20px;
    margin-right: -20px;
}

.code-block {
    background: #000000;
    color: #ffffff;
    padding: 15px;
    flex-grow: 15;
    margin-top: 2px;
    font-size: 18px;
    overflow-x: auto;
}
.pns {
    position: absolute;
    top: 1000px;
    right: 10px;
    z-index: 1000;
}
.pn {
    height : 70px;
    width: 120px;
    text-align: center;
    padding-top: 1px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
}